<div class="container">
  <p><i class="fas fa-user fa-lg"></i>User:  <%= @user.name %></p>
  <p><i class="fas fa-at fa-lg"></i>Email:  <%= @user.email %></p>
  <br>
  <%= link_to blogs_path, title:"go to top" do %>
    <i class="fas fa-comments fa-2x"></i>
  <% end %>
</div>
